* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

.container {
  background-color: aliceblue;
}

body {
  width: 100%;
  min-height: 98vh;
  position: relative;
  font-family: "Roboto", sans-serif;
}
