* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

.container {
  background-color: 454545;
}

body {
  width: 100%;
  min-height: 98vh;
  position: relative;
  font-family: "Roboto", sans-serif;
  background-color: #454545;
  color: #ddd;
}
